<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app.xsd" id="person" version="2.4">
    
  <context-param>
    <param-name>userid</param-name>
    <param-value>admin</param-value>
  </context-param>

    <error-page>
      <exception-type>java.lang.Throwable</exception-type>
       <location>/index.jsp</location>
    </error-page>


  <context-param>
    <param-name>allowAccess</param-name>
    <param-value>/login.htm,/validate.htm,/showCustomerRegistration.htm,/ajaxCall.htm</param-value>
  </context-param>

  <!-- Time is in minutes -->
  <session-config>
        <session-timeout>30</session-timeout>
  </session-config>

<!-- 
Spring Root Web ApplicationContext file ->>
 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:properties-loader.xml
    	classpath:spring-context-dao.xml
    	classpath:spring-context-service.xml
    	classpath:dspring-security.xml
    	classpath:bank-webservice.xml
    </param-value>
  </context-param>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <listener>
    <listener-class>com.desi.bank.data.listener.DesiBankDataListener</listener-class>
  </listener>
  
  <!--
   Spring Web ApplicationContext file ->>
   /WEB-INF/desibak-servlet.xml
   -->
  <servlet>
    <servlet-name>desibak</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
    	  <param-name>contextConfigLocation</param-name>
    	  <param-value>/WEB-INF/desibank-web-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>desibak</servlet-name>
    <url-pattern>*.htm</url-pattern>
    <!-- This is called extension mapping -->
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>desibak</servlet-name>
    <url-pattern>*.xls</url-pattern>
    <!-- This is called extension mapping -->
  </servlet-mapping>
  
    <!--
    Enabling Spring Security
    This module is in progress.................................
    ..........................................................
          .............................................
          you cannot change the filter name =springSecurityFilterChain
      -->
  <filter>
          <filter-name>springSecurityFilterChain</filter-name>
          <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
     </filter>
 
     <filter-mapping>
          <filter-name>springSecurityFilterChain</filter-name>
          <url-pattern>/*</url-pattern>
     </filter-mapping> 
  
  <!-- <filter>
    <filter-name>DesiBankFilter</filter-name>
    <filter-class>com.desi.bank.security.filter.DesiBankFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>DesiBankFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping> -->
  
    <!-- apache poi excel import/export 
  <display-name>SpringMvcExcelViewDemo</display-name>
   
    <servlet>
        <servlet-name>SpringController</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>SpringController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>  -->
    
    
    <servlet>
		<servlet-name>jersey-restapi</servlet-name>
		<servlet-class>
			com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<init-param>
			<param-name>
                    com.sun.jersey.config.property.packages
               </param-name>
			<param-value>com.desi.bank.rest.customer,com.desi.bank.rest.api.employee,com.desi.bank.rest.api.admin</param-value>
		</init-param>
	
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-restapi</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>
	
	
			<!-- 
 this listener reads - /WEB-INF/sun-jaxws.xml file and publish all the registered websevice
 inside soap web service container
 -->
<listener>
        <listener-class>
                com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
	
	   <!-- 
	WSServlet will forward your request to soap web service container
	against requested url-pattern weatherSoapProvider
	 -->
	<servlet>
        <servlet-name>metro</servlet-name>
        <servlet-class>
          com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>metro</servlet-name>
        <url-pattern>/jackerService</url-pattern>
          </servlet-mapping>
          
         <servlet-mapping>
        <servlet-name>metro</servlet-name>
        <url-pattern>/simWebServiceProvider</url-pattern>
          </servlet-mapping>
  
    
    	<!-- Because of this security setting our application by default will 
	  run over https
	 -->
<!--     <security-constraint>
        <web-resource-collection>
            <web-resource-name>yunning</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint> -->
	
  
</web-app>